<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Attribuer chambre patient</div>
        <form action="#" data-th-action="@{/attribuer}" data-th-object="${hospitalisation}" method="post">
            <select data-th-field="*{patient.numero_patient}">
                <option data-th-each=" p : ${patients}" data-th-text="${p.nom_patient + ' ' + p.prenoms_patient}" data-th-value="${p.numero_patient}" >
            </select>
            <input type="submit"  value="Attribuer" />
        </form>
    </body>
</html>
