<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <thead>
              <tr>
                <th>id</th>
                <th>type</th>
                <th>budget</th>
             </tr>
            </thead>
            <tbody>
              <tr data-th-each="c : ${ cats }" data-th-object="c">
                <td data-th-text="*{ id }">Jean Dubois</td>
                <td data-th-text="*{ type }">35</td>
                <td data-th-text="*{ budget }">35</td>
              </tr>
            </tbody>
      </table>
    </body>
</html>
